/*
primary-color #46D4D6
secondary color #2AB3B5 
tint:#7ee1e2



*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Orbitron", san-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  overflow: hidden;
  background-color: #1e0d1f;
}

.container {
  margin: 0 auto;
  width: 120rem;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9rem;
}
.grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  letter-spacing: -0.5px;
  font-weight: 700;
}

.heding-primary {
  font-size: 5rem;
  line-height: 1.03;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 2.4rem;
  font-weight: 500;
  color: #46d4d6;
  margin-bottom: 1.6rem;
}
.btn:link,
.btn:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #46d4d6;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  display: inline-block;
  margin-bottom: 2rem;
  transition: all 0.3s;
  border: none;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  color: #2ab3b5;
}
.link:link,
.link:visited {
  text-decoration: none;

  color: #2ab3b5;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #46d4d6;
  border-bottom: 1px solid transparent;
}
